<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Thasadith:400,700&amp;subset=chinese-traditional,latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel=stylesheet type="text/css" href="/stylesheets/profile_view.css">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        window.onload = function () {
            var upload_avatar = document.getElementById("upload_avatar");
            upload_avatar.addEventListener('change', readFile, false);
        }

        function readFile() {
            var file = this.files[0];
            if (file.type.split('/')[0] != 'image') {
                alert('選擇的檔案並非圖片檔！');
                return false;
            }
            if (file.size / 1024 / 1024 > 10) {
                alert('請選擇小於10M的檔案')
                return false
            }
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                document.querySelector('.imgback img').src = this.result
                document.querySelector('#upload_avatar_base64').value = this.result.split(',')[1]
                document.querySelector('#upload').className = 'btn btn-success btn-lg'
            }
        }
    </script>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="username">
                <%= name %>
            </div>
            <div class="signout"><a href="/logout" class="fas fa-door-open"></a></div>
        </div>
    </nav>
    <div class="select">
        <div style="margin-top:-0.85em;"><a href="/profile">　系友資料　</a></div>
        <div><a href="/zupu">　祖　譜　</a></div>
        <div><a href="/event"> 聚會聚起來!</a></div>
        <div><a href="/twohand/market">　二手市集　</a></div>
    </div>
    <div class='folder'>
        <div class="avatar">
            <div class="imgback">
                <img class="card-img-top" src="<%= data.avatar %>" alt="Card image cap">
            </div>
            <input type="file" id="upload_avatar" hidden>
            <button type="button" id="upload" class="btn btn-secondary btn-lg" onclick="document.querySelector('#upload_avatar').click()">選擇新大頭貼</button>
        </div>
        <div class="inputs">
            <form action="./edit" method="POST">
                <input id="upload_avatar_base64" type="hidden" name="avatar">
                <div class="form-group">
                    <label for="phone">行動電話</label>
                    <input type="phone" name="phone" class="form-control" id="phone" placeholder="輸入行動電話" value="<%= data.phone %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="輸入 email" value="<%= data.email %>">
                </div>
                <div class="form-group">
                    <label for="line">Line ID</label>
                    <input type="line" name="line" class="form-control" id="line" placeholder="輸入行動電話" value="<%= data.line %>">
                </div>
                <label for="inlineFormInputGroup">Telegram</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" name="telegram" class="form-control" id="inlineFormInputGroup" placeholder="Telegram Username"
                        value="<%= data.telegram %>">
                </div>
                <label for="facebook">Facebook</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="facebook">https://www.facebook.com/</span>
                    </div>
                    <input type="text" class="form-control" name="facebook" id="facebook" aria-describedby="facebook"
                        value="<%= data.facebook %>">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">更新</button>
            </form>
        </div>
    </div>

</body>

</html>